<?php

/** @var \Magenest\Movie\Block\Widget\Banner $block */
//dd($block->getBannerInfo());
$banner = $block->getBannerInfo()[2];

?>
<div style="position: fixed; z-index: 5;">
    <a href="<?= $banner['link'] ?>" style="text-align: center">
        <img src="<?= $banner['upload_image'] ?>" style="width: 1000vh; height: 100px;">
    </a>
</div>
