<?php

/** @var \Magenest\Movie\Block\Widget\Test $block */

?>

<h3><?= $block->escapeHtml($block->getData('title')) ?></h3>

<h3><?= $block->escapeHtml(__('Size:')) ?> <?= $block->escapeHtml($block->getData('size')) ?></h3>
