<!--
/**
 * Copyright © 2015 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Your keys  from {{var store.getFrontendName()}}  @-->

{{template config_path="design/email/header_template"}}
<table style="width: 100%">
    <tr class="email-intro">
        {{trans "Thank you for your order from %store_name." store_name=$store.getFrontendName()}}
    </tr>
    <tr>
        {{var pin_code_html|raw}}
    </tr>
    <tr class="email-items">
        <td>
            <p>
                {{trans "Please check the keys in the attachments."}}
            </p>
            <p>{{var instructions|raw}}</p>
        </td>
    </tr>
    <tr>
        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA;text-align:center;">
            <center>
                <p style="font-size:12px;margin:0;">
                    <strong>{{trans "Thank you"}}</strong>
                </p>
            </center>
        </td>
    </tr>
    {{var pin_info_html|raw}}
</table>

{{template config_path="design/email/footer_template"}}
