<table border="1">
    <thead>
    <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <?php
            $customer = $block->getCustomer();
        ?>
        <td><img src="<?= (isset($customer->getCustomAttributes()['avatar'])) ? $customer->getCustomAttributes()['avatar']->getValue() : '' ?>" alt=""></td>
        <td><?= $block->getCustomer()->getFirstName() . $block->getMiddleName() . $block->getLastName() ?></td>
        <td><?= $block->getCustomer()->getEmail() ?></td>
        <td><?= ($customer->getAddresses()) ? $customer->getAddresses()[0]->getTelephone() : '' ?></td>
    </tr>
    </tbody>
</table>

