<?php
/** @var \Magenest\Movie\Block\BackgroundSwitcher $block */
//dd($block->getAvailableColors());
$colors = $block->getAvailableColors();
?>
<div class="switcher language switcher-language" data-bind="scope: 'customko'" style="width: 10%">

    <select class="dropdown switcher-dropdown" id="bg-switcher" data-bind="value: color">
        <option class="switcher-option" value="#ffffff">Default</option>
        <?php foreach ($colors as $color) { ?>
            <option class="switcher-option" value="<?= $color['color_code'] ?>"><?= $color['color_name'] ?></option>
        <?php } ?>
    </select>
    <p data-bind="text: color"></p>
</div>

<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components":{
                "customko": {
                    "component": "Magenest_Movie/js/knockout-example"
                }
            }
        }
    }
}
</script>
