<?php
    $customer = $block->getCustomer();
    if (isset($customer) && $customer->getCustomAttributes()) {
        $custom_attribute = $block->getCustomer()->getCustomAttributes();
        if ($custom_attribute['customer_telephone']) {
            $telephone = $custom_attribute['customer_telephone']->getValue();
        }
    }
?>
<fieldset class="fieldset edit account" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
    <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Additional Information') ?></span></legend>
    <p>
        <div class="field regulation">
            <label for="regulation" class="label">
                <span><?php /* @escapeNotVerified */ echo __('Customer Telephone') ?></span>
            </label>
            <div class="control">
                <input type="text" name="customer_telephone" id="customer_telephone" title="<?php /* @escapeNotVerified */ echo __('Customer Telephone') ?>" class="input-text required-entry validate-phone-number" value="<?= $telephone ?? '' ?>"">
            </div>
        </div>
    </p>
</fieldset>
