<table>
    <thead>
        <tr>
            <td style="border: 0.5px solid black">Index</td>
            <td style="border: 0.5px solid black">Title</td>
            <td style="border: 0.5px solid black">Description</td>
            <td style="border: 0.5px solid black">Rating</td>
            <td style="border: 0.5px solid black">Director</td>
            <td style="border: 0.5px solid black">Cast</td>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($block->getMovies() as $index => $movie) { ?>
    <tr>
        <td style="border: 0.5px solid black"><?= $index ?></td>
        <td style="border: 0.5px solid black"><?= $movie->getMovieName() ?></td>
        <td style="border: 0.5px solid black"><?= $movie->getDescription() ?></td>
        <td style="border: 0.5px solid black"><?= $movie->getRating() ?></td>
        <td style="border: 0.5px solid black"><?= $movie->getDirectorName() ?></td>
        <td style="border: 0.5px solid black">
            <?php foreach ($block->getCast() as $actor) { ?>
            <?= ($actor->getMovieId() == $movie->getId()) ? $actor->getActorName().', ' : '' ?>
            <?php } ?>
        </td>
    </tr>
    <?php } ?>
    </tbody>
</table>
