<?php

/* @var \Magenest\Movie\Block\Promotion $block */

$group = $block->getCurrentGroup();
$promo = $block->getPromotionInfo();
$allowed_group = $promo['group'];
$valid = in_array($group, $allowed_group);
?>

<?php if ($valid) : ?>
    <div class="promotion" id="promotion">
        <img src="<?= $promo['image'] ?>"  alt="" style="width: 100%"/>
    </div>
    <script>
        require([
            'jquery',
            'Magento_Ui/js/modal/modal'
        ], function($, modal) {
            var options = {
                type: 'popup',
                responsive: true,
                title: '<?= $promo['title'] ?>',
                modalClass: 'promotion',
                buttons: []
            };

            modal(options, $('#promotion'));

            $( document ).ready(function() {
                $('#promotion').modal('openModal');
            });
        });
    </script>
<?php endif; ?>
