<div class="fieldset">
    <label class="label" for="shipping_time" style="font-weight: 600">
        <span>Shipping Time</span>
    </label>
    <div class="control">
        <input type="time" name="shipping_time" id="shipping_time">
    </div>
</div>
