<?php
/**
 * Copyright © 2016 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<?php
/**
 * @var $block \Magenest\Pin\Block\Adminhtml\Sales\Items\Column\Pin\Code
 */
?>

<?php if ($_item = $block->getItem()): ?>
    <div id="order_item_<?=  /* @noEscape *//* @escapeNotVerified */ $_item->getId() ?>_title"
         class="product-title">
        <?= /* @noEscape */ $block->escapeHtml($_item->getName()) ?>
    </div>

    <div class="product-sku-block">
        <span><?= /* @noEscape */ /* @escapeNotVerified */ __('SKU') ?>:</span> <?= /* @noEscape */ implode('<br />', $this->helper('Magento\Catalog\Helper\Data')->splitSku($block->escapeHtml($block->getSku()))); ?>
    </div>

    <div class="product-pin-code" <?php if(!$block->checkLicense($_item->getProductId()) && ($_item->getProductType() != 'license') ){echo 'hidden';} ?>>
        <?php $purchaseds = $block->getAll($_item->getItemId());
            foreach($purchaseds as $purchased):
        ?>

            <?php if($purchased->getPinCode()): ?>
                <span><?= /* @noEscape */ __('Game Code') ?>:</span>
                <span><b><?= /* @noEscape */ $purchased->getPinCode(); ?></b></span><br>
            <?php endif; ?>

            <?php if(!$purchased->getPinCode()&&$purchased->getPinFileId()!=''): ?>
                <span><?= /* @noEscape */ __('File Code') ?>: </span>
                <a href='<?= /* @noEscape */ $block->render1($purchased); ?>'> Download </a><br>
            <?php endif; ?>
        <?php endforeach;?>
    </div>

    <?php if ($block->getOrderOptions()): ?>
        <dl class="item-options">
            <?php foreach ($block->getOrderOptions() as $_option): ?>
                <dt><?=  /* @noEscape */ /* @escapeNotVerified */ $_option['label'] ?>:</dt>
                <dd>
                    <?php if (isset($_option['custom_view']) && $_option['custom_view']): ?>
                        <?= /* @noEscape */ /* @escapeNotVerified */ $block->getCustomizedOptionValue($_option); ?>
                    <?php else: ?>
                        <?php $_option = $block->getFormattedOption($_option['value']); ?>
                        <?= /* @noEscape */ /* @escapeNotVerified */ $_option['value']; ?><?php if (isset($_option['remainder']) && $_option['remainder']): ?><span id="<?= /* @noEscape */ /* @escapeNotVerified */ $_dots = 'dots' . uniqid()?>"> ...</span><span id="<?= /* @noEscape */ /* @escapeNotVerified */ $_id = 'id' . uniqid()?>"><?= /* @noEscape */ /* @escapeNotVerified */ $_option['remainder'] ?></span>
                            <script>
                                require(['prototype'], function() {
                                    $('<?= /* @noEscape */ /* @escapeNotVerified */ $_id ?>').hide();
                                    $('<?= /* @noEscape */ /* @escapeNotVerified */ $_id ?>').up().observe('mouseover', function(){$('<?= /* @noEscape */ /* @escapeNotVerified */ $_id ?>').show();});
                                    $('<?= /* @noEscape */ /* @escapeNotVerified */ $_id ?>').up().observe('mouseover', function(){$('<?= /* @noEscape */ /* @escapeNotVerified */ $_dots?>').hide();});
                                    $('<?= /* @noEscape */ /* @escapeNotVerified */ $_id ?>').up().observe('mouseout',  function(){$('<?= /* @noEscape */ /* @escapeNotVerified */ $_id ?>').hide();});
                                    $('<?= /* @noEscape */ /* @escapeNotVerified */ $_id ?>').up().observe('mouseout',  function(){$('<?= /* @noEscape */ /* @escapeNotVerified */ $_dots ?>').show();});
                                });
                            </script>
                        <?php endif; ?>
                    <?php endif; ?>
                </dd>
            <?php endforeach; ?>
        </dl>
    <?php endif; ?>
    <?= /* @noEscape */ $block->escapeHtml($_item->getDescription()) ?>
<?php endif; ?>