<div class="pp-buttons-container">
    <button id="<?php echo $block->getId() ?>" onclick="window.location.reload()">
        <span><span><span><?php echo $block->escapeHtml($block->getButtonLabel()); ?></span></span></span>
    </button>
</div>
