<table>
    <tr>
        <td><input type="button" value="Open Modal" data-trigger="trigger"></td>
        <td><input type="button" value="Open Magento Login Modal" id="button"></td>
        <td><input type="button" value="Open Custom Login Modal"></td>
    </tr>
</table>

<!--Element self initialize-->
<div data-bind="mageInit:{
        'Magento_Ui/js/modal/modal':{
            'type':'popup',
            'title':'Modal Title',
            'trigger':'[data-trigger=trigger]',
            'responsive':true,
            'button': [{
                text: jQuery.mage.__('submit'),
                class: 'action'
            }]
        }
    }">
    <div>Your modal has popped up! Congrats!</div>
</div>

<!--Initialize using script-->
<script>
    require([
        "jquery",
        "Magento_Ui/js/modal/modal"
    ],function($, modal) {

        var options = {
            type: 'popup',
            responsive: true,
            buttons: [{
                click: function () {
                    this.closeModal();
                }
            }]
        }

        var popup = modal(options, $('.login-container'));
        $("#button").click(function() {
            $('.login-container').modal('openModal');
        });
    });
</script>
