<table border="1" class="admin__table-secondary">
    <tr>
        <td rowspan="2">Installed Modules</td>
        <td>Magento Module</td>
        <td><?= $block->getModules()['magento'] ?></td>
    </tr>
    <tr>
        <td>Non-Magento Module</td>
        <td><?= $block->getModules()['non_magento'] ?></td>
    </tr>
</table>
