<table border="1" class="admin__table-secondary">
    <tr>
        <td rowspan="5">Store Details</td>
        <td>Customers</td>
        <td><?= $block->getDetail()['customer'] ?></td>
    </tr>
    <tr>
        <td>Products</td>
        <td><?= $block->getDetail()['product'] ?></td>
    </tr>
    <tr>
        <td>Order</td>
        <td><?= $block->getDetail()['order'] ?></td>
    </tr>
    <tr>
        <td>Invoice</td>
        <td><?= $block->getDetail()['invoice'] ?></td>
    </tr>
    <tr>
        <td>Creditmemo</td>
        <td><?= $block->getDetail()['creditmemo'] ?></td>
    </tr>
</table>
