<div class="field required review-field-ratings">
    <div class="control review-control-vote" >
        <!--  ko foreach: $col.getLabel($row())   -->
        <!-- ko if: $data == "selected"-->
        <span style="color: rgb(51, 51, 51);">★</span>
        <!--/ko-->
        <!-- ko if: $data != "selected"-->
        <span style="color: rgb(204, 204, 204);">★</span>
        <!--/ko-->
        <!--    /ko    -->
    </div>
</div>
