<?php
/**
 * @var $block Magenest\Pin\Block\Customer\Pins\ListPins;
 */
$_purchaseds = $block->getPurchaseds();
?>
<?php if (count($_purchaseds)): ?>
    <div class="table-wrapper license-products">
        <table id="my-downloadable-products-table" class="data table table-downloadable-products">
            <caption class="table-caption"><?= /* @noEscape */ __('Purchased License') ?></caption>
            <thead>
            <tr>
                <th scope="col" class="col title"><?= /* @noEscape */ __('Order #') ?></th>
                <th scope="col" class="col title"><?= /* @noEscape */ __('Product Name') ?></th>
                <th scope="col" class="col title"><?= /* @noEscape */ __('License Code') ?></th>
                <th scope="col" class="col title"><?= /* @noEscape */ __('License File') ?></th>
                <th scope="col" class="col instruction"><?= /* @noEscape */ __('Instruction') ?></th>
                <th scope="col" class="col date"><?= /* @noEscape */ __('Purchased Time') ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($_purchaseds as $_purchased): ?>

                <tr>
                    <td data-th="<?= $block->escapeHtml(__('Order No')) ?>" class="col title">
                        <?= /* @noEscape */ $_purchased->getData('order_increment_id') ?>

                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Product Name')) ?>" class="col title">
                        <?= /* @noEscape */ $_purchased->getData("product_name") ?>

                    </td>

                    <td data-th="<?= $block->escapeHtml(__('License Code')) ?>" class="col title">
                        <?= /* @noEscape */ $_purchased->getPinCode() ?>

                    </td>
                    <td data-th="<?= $block->escapeHtml(__('License File')) ?>" class="col title">

                        <?php if ($_purchased->getData('file_extension')!='text'&&$_purchased->getData('file_extension')!=null) { ?>
                            <a href="<?= $block->getDownloadLink( /* @noEscape */ $_purchased->getId(),"pin") ?>"> <?= /* @noEscape */ __('Download pin') ?> </a>
                        <?php } ?>
                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Instruction')) ?>" class="col title">
                        <?php if($_purchased->getInstructionId() && $_purchased->getInstructionId()!=0):?>
                            <a href="<?= $block->getDownloadLink(/* @noEscape */ $_purchased->getId(),"instruction") ?>"> <?= /* @noEscape */ __('Download Instruction') ?> </a>
                        <?php endif;?>
                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Date')) ?>" class="col date">
                        <?= $block->formatDate(/* @noEscape */ $_purchased->getCreatedAt()) ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getChildHtml('pager')): ?>
        <div class="toolbar license-products-toolbar bottom">
            <?= $block->getChildHtml('pager'); ?>
        </div>
    <?php endif; ?>
<?php else: ?>
    <div class="message info empty">
        <span><?= /* @noEscape */ __('You have not purchased any license products yet.'); ?></span></div>
<?php endif; ?>

<div class="actions-toolbar">
    <div class="secondary">
        <a href="<?= $block->escapeUrl($block->getBackUrl()) ?>" class="action back">
            <span><?= /* @noEscape */ __('Back') ?></span>
        </a>
    </div>
</div>