<div class="admin__field-complex" css="$data.additionalClasses" attr="'data-index': index">

    <div class="admin__field-complex-title" if="label">
        <span text="label"></span>
    </div>

    <div class="admin__field-complex-elements"
         each="data: elems, as: 'element'"
         render="" style="max-width: 70%"></div>

    <div class="admin__field-complex-content"
         html="$data.content" if="$data.content"></div>

    <div class="admin__field-complex-text"
         html="$data.text" if="$data.text"></div>
</div>
