<?php
/**
 * Created by Magenest
 * User: Luu Thanh Thuy
 * Date: 02/10/2015
 * Time: 10:26
 */


?>

<table class="pin-table-to-add" id="pin-code-table" data-role="flexible-table-code">

    <thead>

    </thead>

    <tbody>

    <tr data-order="1000" class="sample-template" data-role="sample-template">
        <td> <?= /* @noEscape */
            __("Pin") ?></td>
        <td><input name="pin[0][code]"></input></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td><a data-action="add-new-row" class="add-btn action-default" href="#"> <?= /* @noEscape */
                __("Add") ?><a></a></td>
    </tr>
    </tfoot>
</table>

<hr>
<table class="pin-table-to-add" id="pin-file-table" data-role="flexible-table-file">

    <thead>

    </thead>

    <tbody>

    <tr data-order="1000" class="sample-template" data-role="sample-template">
        <td> <?= /* @noEscape */
            __("Pin") ?></td>
        <td><input type="file" name="pin-file[0][file]"></input></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td><a data-action="add-new-row" class="add-btn action-default" href="#"> <?= /* @noEscape */
                __("Add") ?><a></a></td>
    </tr>
    </tfoot>
</table>